@{
  ViewData["Title"] = "Order Page";
}

<div class="text-center">
  <h1 class="display-4">Order Below</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model PizzaBox.Client.Models.OrderViewModel

<body>
  <form action="/order" method="post">
  @Html.AntiForgeryToken()
    <fieldset>
      <legend>CRUSS</legend>
      @Html.ValidationMessageFor(m => m.SelectedSize)
      @foreach (var item in Model.Sizes)
      {
        <input type="radio" id="@item" name="selectedcrust" value="@item">
        <label for="@item">@item</label>
        <br>
      }
    </fieldset>
    <fieldset>
      <legend>SIEZ</legend>
      @Html.ValidationMessageFor(m => m.SelectedCrust)
      @foreach (var item in Model.Crusts)
      {
        <input type="radio" id="@item" name="selectedsize" value="@item">
        <label for="@item">@item</label>
        <br>
      }
    </fieldset>
    <fieldset>
      <legend>TOPPERS</legend>
      @Html.ValidationMessageFor(m => m.SelectedToppings)
      @foreach (var item in Model.Toppings)
      {
        <input type="checkbox" id="@item" name="selectedtopping" value="@item">
        <label for="@item">@item</label>
        <br>
      }
    </fieldset>

    <button type="submit">SUMBIT ORDERR</button>
  </form>
</body>